$fontFamily: "Open Sans", sans-serif;
$sideLineBorderLeft: 5px solid #fcd774;
$Border: 1px solid #e9e9e9;

.user-list {
  border-left: $sideLineBorderLeft;
  // padding: 1rem;
  padding-top: 0;
  margin: 1rem;
  border-right: $Border;
  border-top: $Border;
  border-bottom: $Border;
  justify-content: space-between;
  border-radius: 0.5em;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/zig-zag.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  .top {
    display: flex;
    justify-content: space-between;
    p {
      display: inline-block;
      border: 1px solid #fcd673;
      padding: 0.5em;
      background: #fcd673;
      color: #996e00;
      margin: 0;
      font-weight: 600;
      .fa-user-tag {
        color: #996e00;
      }
    }
    .fa-user-edit {
      font-size: 1em;
      font-size: 1.2em;
      background: #ea6161;
      color: #ffffff;
      padding: 0.4em 0.5em;
      margin-right: 0;
      border-top-right-radius: 5px;
    }
  }

  ul {
    padding: 1em;
    display: inline-block;
    // width: 40vw;
    list-style: none;
    font-family: $fontFamily;
    padding-left: 1em;
    margin: 0;
    li {
      font-weight: 500;
    }
  }
  .space {
    padding-left: 1.4em;
  }
  .fas,
  .far {
    margin-right: 0.5em;
    color: #eb6161;
  }
  .bottom {
    text-align: end;
    .delete {
      background-color: #5e71ae;
      border: none;
      padding: 0.6em 0.8em;
      border-bottom-right-radius: 5px;
      .fa-trash-alt {
        margin-right: 0;
        font-size: 1.2em;
        color: #fff;
      }
    }
  }
}
